.button {
    background: $button-bg;
    border: none;
    color: $button-color;
    cursor: pointer;
    font-size: $base-font-size;
    line-height: 1.2;
    margin-bottom: $space;
    padding: $input-spacing;
    text-transform: uppercase;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 2px solid $button-pill-color;
    color: $button-pill-color;
    margin: 0 ($space/2) 0 0;
    padding: .3rem .8rem;
}

.button--secondary {
    background: $button-secondary-bg;
    border: 1px solid $button-secondary-border-color;
    color: $button-secondary-color;
    
}

.button--link-text {
    background: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-transform: none;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
