.modal-input{
    border-radius: 10px;
    background-color: $verydark-grey;
    color: $secondaryfontcolor;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
}

.modal-selector{
    background: $verydark-grey;
}

.modal-inlineelements {
    display: flex;
    background-color: $verydark-grey;
    justify-content: space-between;
  }
  
//   .flex-container > div {
//     background-color: #f1f1f1;
//     margin: 0px;
//     padding: 0px;
//     font-size: 30px;
//   }