.page-content {
    margin: 0 auto;
    max-width: $site-max-width;
    background-color: $verydark-grey;
    padding: $space;
}

.primaryfont {
    color: $primaryfontcolor;
}

.secondaryfont {
    color: $secondaryfontcolor;
}