.page-content {
    margin: 0 auto;
    max-width: $site-max-width;
    background-color: $verydark-grey;
    padding: $space;
    height: 100%;
    
}

.primaryfont {
    color: $primaryfontcolor;
}

.secondaryfont {
    color: $secondaryfontcolor;
}

.addspaceabove{
    margin: 30px 0px;
}

.addspaceabovex2{
    margin: 60px 0px;
}
