.radiobutton {
    display: inline-block;
    background: $verydark-grey;
    width: 100%;
    padding: 10px;
    font-weight: 200;
    color: $secondaryfontcolor;
}

.radiobutton-text {
    padding-left: 20px;
}